/* reset  */

* { margin: 0px;
    padding: 1px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid red; */

}

body {
  background-color: rgb(218, 218, 218);
}

.container {
  
}


/* generali */

.back-white {
  background-color: rgb(238, 238, 238);
}


/* header  */

header {
  /* height: 50px; */
  padding: 10px 20px;
}

header img {
  /* width: 50px; */
  vertical-align: middle;
  /* text-align: center;
  line-height: 50px; */
}

header h1 {
  display: inline;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
}

/* main  */

main {
  max-width: 800px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

main div {
  padding-left: 40px;
}

.toolbar {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  margin-bottom: 1px;
}

.toolbar input {

  border-radius: 5px;
  padding: 4px 10px;
  font-weight: bold;
  font-size: 9px;
  border-width: 1px;
}

.button-blu {
  background-color: rgb(92, 179, 250);
  border-color: rgb(92, 179, 250);
  color: white;
}

.button-white {
  background-color: white;
  color: grey;
}

.task-menu {
  padding-bottom: 30px;
  border-radius: 5px;
}

.task-menu div {
  padding-left: 0px;
  padding-right: 40px;
  margin-top: 30px;
  font-weight:400;
}

.task-menu h2::before {

  content: "\25BC" ;
  font-size: 15px;
  padding-right: 2px;
  margin-right: 5px;
}

.task-menu p {
  margin-top: 10px;
}

.task-menu span {
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 10px;
  color: white;
}

.complete::before {
  content: "\2713" ;
  font-size: 8px;
  vertical-align: middle;
  color: green;
  border: solid 1px green;
  border-radius: 50%;
  padding: 2px 4px;
}

.incomplete::before {
  content: "\2715" ;
  font-size: 8px;
  vertical-align: middle;
  color: red;
  border: solid 1px red;
  border-radius: 50%;
  padding: 2px 4px;
}

.editorial {
  background-color: rgb(92, 179, 250);
}
.q1-goals {
  background-color: rgb(205, 92, 250);
}
.recurting {
  background-color: rgb(70, 185, 105);
}
.mobile {
  background-color: rgb(250, 195, 92);
}
.website {
  background-color: rgb(250, 92, 158);
}
.sales {
  background-color: rgb(151, 185, 86);
}

